#hero-image{
  background: url("https://i.pinimg.com/originals/b9/38/a8/b938a864bf819759f73ba34db28f5ca5.jpg") no-repeat center; 
  background-size: cover;
  height: 697px;
  position: relative;

  }
  #hero-text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0000;
  font-size: 50px;
  font-family: montserrat;
  }
  #time{
    color: #0000;
  }

  #name{
    font-size: 30px;
    color: #fff;
    font-family: Montserrat;
    text-decoration: none;
  }
  body
  {
   margin: 0;
    
  }
  ul
  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background:black;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  font-family: Montserrat;
}
#show{
  font-size: 50px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
a:hover{
  color: lightgreen;
}

#githubac{
  background: white;
  background-size: cover;
  

  }

#image{
    background: url("https://images.wallpaperscraft.com/image/notebook_emptiness_old_table_pen_writing_80056_1920x1080.jpg") center;
    background-size: cover;
    height: 500px;
    position: relative;
    background-repeat: no-repeat;

  }
  #text
  {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  font-family: montserrat;

  }
  #quote{
    font-size: 30px;
   
   
    font-family: satisfy;

  }
  body
  {
    margin: 0;
  }
